
body {
    background-color: #fdf9f3;
}

.solid-shapes ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    min-width: 400px;
    max-width: 1000px;
    list-style: none;
}

li {
    padding: 0.5rem;
}
  
.solid-shapes li:nth-child(1) {
    background-color: #367bdb;
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
}
  
.solid-shapes li:nth-child(2) {
    background-color: #b53c3c;
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}
  
.solid-shapes li:nth-child(3) {
    background-color: #4bbd66;
    grid-column: 3 / 4;
    grid-row: 3 / 4; 
}
  
.solid-shapes li:nth-child(4) {
    background-color: #f38ac5;
    grid-column: 2 / 3;
    grid-row: 5 / 6; 
}
  
.solid-shapes li:nth-child(5) {
    background-color: #8656ce;
    grid-column: 4 / 5;
    grid-row: 6 / 7; 
}

.solid-shapes li:nth-child(6) {
    background-color: #e3b750;
    grid-column: 5 / 6;
    grid-row: 2 / 3; 
}

img {
    position: relative;
    right: 0.5rem;
    width: 100px;
}

/* ovals */

.oval1 {
    border-radius: 50%;
    position: relative;
    top: 5rem;
    left: -1.5rem;
    z-index: -1;
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    width: 50px;
    height: 50px;
    background-color: #f062627a;
}

.oval2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 50%;
    position: relative;
    bottom: 2rem;
    left: 4.5rem;
    z-index: -1;
    width: 70px;
    height: 70px;
    background-color: #62aef07a;
}

.oval3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 50%;
    position: relative;
    top: 5rem;
    left: 4.5rem;
    z-index: -1;
    width: 70px;
    height: 70px;
    background-color: #8f62f07a;
}

.oval4 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    border-radius: 50%;
    position: relative;
    top: -1rem;
    right: 4rem;
    z-index: -1;
    width: 90px;
    height: 90px;
    background-color: #62f0987a;
}

.oval5 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    border-radius: 50%;
    position: relative;
    top: -1rem;
    right: 4rem;
    z-index: -1;
    width: 90px;
    height: 90px;
    background-color: #cd00005f;
}

.oval6 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 50%;
    position: relative;
    top: 7rem;
    left: -1rem;
    z-index: -1;
    width: 50px;
    height: 50px;
    background-color: #46d5747a;
}

.oval7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 50%;
    position: relative;
    top: -1rem;
    left: -5rem;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #fe86bc7a;
}

.oval8 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    border-radius: 50%;
    position: relative;
    top: 8rem;
    left: 4rem;
    z-index: -1;
    width: 70px;
    height: 70px;
    background-color: #f16bac5f;
}

.oval9 {
    grid-column: 4 / 5;
    grid-row: 6 / 7; 
    border-radius: 50%;
    position: relative;
    bottom: 3rem;
    left: 4rem;
    z-index: -1;
    width: 90px;
    height: 90px;
    background-color: #f1b76b5f;
}

.oval10 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    border-radius: 50%;
    position: relative;
    top: 8rem;
    left: 2rem;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #62b2f07a;
}

.oval11 {
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 8rem;
    z-index: -1;
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    width: 60px;
    height: 60px;
    background-color: #f0cf627a;
}

.oval12 {
    grid-column: 4 / 5;
    grid-row: 6 / 7; 
    border-radius: 50%;
    position: relative;
    bottom: 6rem;
    left: 17rem;
    z-index: -1;
    width: 50px;
    height: 50px;
    background-color: #7d4aba5f;
}

.circle1 {
    background-color: #f4e6d299;
    z-index: -2;
    position: absolute;
    top: 11.5rem;
    left: 15rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.circle2 {
    background-color: #f4e6d299;
    z-index: -2;
    position: absolute;
    top: 30rem;
    left: 2rem;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.circle3 {
    background-color: #f4e6d299;
    z-index: -2;
    position: absolute;
    top: 20rem;
    left: 35rem;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.circle4 {
    background-color: #f4e6d299;
    z-index: -2;
    position: absolute;
    top: 3rem;
    left: 43rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.circle5 {
    background-color: #f4e6d299;
    z-index: -2;
    position: absolute;
    top: 25rem;
    left: 60rem;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}